/* Make clicks pass-through */
#nprogress {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 9999;
}

#nprogress .bar {
  background: #00427f;
  height: 2px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1031;
}

/* Fancy blur effect */
#nprogress .peg {
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px #00427f, 0 0 5px #00427f;
  display: block;
  height: 100%;
  opacity: 1;
  position: absolute;
  right: 0px;
  transform: rotate(3deg) translate(0px, -4px);
  width: 100px;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  z-index: 1031;
}

#nprogress .spinner-icon {
  background: url(images/NO-web-spinner.gif) 50% 50% no-repeat;
  height: 200px;
  width: 200px;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
